/* ******************* */
/* GENRAL COMPONENT */
/* ******************* */
.container {
  max-width: 120rem;
  padding: 0 3.2rem;
  margin: 3rem auto;
}

.grid {
  display: grid;
  column-gap: 6.4rem;
  row-gap: 9.6rem;
  margin-bottom: 9.6rem;
}

.grid:not(:last-child) {
  margin-bottom: 9.6rem;
}

.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid--4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.grid--5-cols {
  grid-template-columns: repeat(5, 1fr);
}

.grid--center-v {
  align-items: center;
}

.primary-heading,
.secondary-heading {
  font-weight: 700;
  color: #fff;
  letter-spacing: -0.5px;
}

.primary-heading {
  line-height: 1.05;
  font-size: 5.2rem;
  margin-bottom: 2.2rem;
}

.secondary-heading {
  font-size: 4.4rem;
  line-height: 1.2;
  margin-bottom: 9.6rem;
  /* text-transform: capitalize; */
}

.tettiary-heading {
  font-size: 3rem;
  line-height: 1.2;
  margin-bottom: 3.2rem;
  color: #fff;
}

.subheading {
  display: block;
  font-size: 1.6rem;
  font-weight: 500;
  color: #62ff00;
  margin-bottom: 1.6rem;
  text-transform: uppercase;
  letter-spacing: 0.75px;
}

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  padding: 1.6rem 3.2rem;
  font-size: 2rem;
  font-weight: 600;
  text-decoration: none;
  text-transform: capitalize;
  border-radius: 30px;
  transition: background-color 0.3s;
  border: none;
  cursor: pointer;
  transition: all 0.3s;
}

.start-eating-btn:link,
.start-eating-btn:visited {
  background: linear-gradient(104.51deg, #b8ffb8 10.21%, #62ff00 89.52%);
  color: #000;
}

.start-eating-btn:hover,
.start-eating-btn:active {
  background-color: #efffe6;
}

.Learn-more-btn:link,
.Learn-more-btn:visited {
  background-color: #000;
  color: #fff;
}

.Learn-more-btn:hover,
.Learn-more-btn:active {
  background-color: #ffff;
  color: #000;
  box-shadow: inset 0 0 0 3px #fff;
}

.btn-form {
  background-color: #000;
  color: #fdf2e9;
  align-self: end;
  padding: 1.2rem;
}

.btn-form:hover {
  background-color: #fff;
  color: #555;
}
/* 
.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.list-item {
  font-size: 1.8rem;
  display: flex;
  align-items: center;
  gap: 1.6rem;
  line-height: 1.2;
}

.list-icon {
  height: 3rem;
  width: 3rem;
  color: #e67e22;
} */

*:focus {
  outline: none;
  box-shadow: 0 0 0 0.8rem #62ff0091;
}

.margin-right-sm {
  margin-right: 1.6rem !important;
}

strong {
  font-weight: 500;
}

.margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.link:link,
.link:visited {
  display: inline-block;
  color: #e67e22;
  text-decoration: none;
  border-bottom: 1px solid currentColor;
  padding-bottom: 2px;
  transition: all 0.3s;
}

.link:hover,
.link:active {
  color: #cf711f;
  border-bottom: 1px solid transparent;
}

.center-text {
  text-align: center;
}

/* .gradient-border {
  padding: 0.35rem;
  background: linear-gradient(104.51deg, #b8ffb8 10.21%, #62ff00 89.52%);
  border-radius: 99px;
} */
.gradient-border-hero {
  padding: 0.15rem;
  background: linear-gradient(104.51deg, #62ff00 20.52%, #fff 100.21%);
  border-radius: 99px;
}
.gradient-border-step {
  padding: 0.3rem;
  background: linear-gradient(104.51deg, #b8ffb8 10.21%, #62ff00 89.52%);
  border-radius: 2rem;
  max-width: fit-content;
}
