body{
    background-color: black;
    font-family: "Poppins", sans-serif;
    }

    .hero {
        align-items: center;
        display: flex;
    justify-content: center;
    }

    h1,h5{
        color: white;
        position: absolute;
    }

    h1{
        font-size: 50px;
        font-weight: bold;
    }

    h5{
        font-size: 20px;
        font-weight: lighter;
    }
   
     .bgimg {
        position: relative;
        width: 900px;
        
    }
    