body {
  background-color: black;
  font-family: "Poppins", sans-serif;
}

.hero {
  background-image: url(./images/backgrnd_img.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-description {
  max-width: 130rem;
  text-align: center;
  font-size: 2rem;
  line-height: 1.5;
  margin-bottom: 4.8rem;
}

.hero-btns-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
}

.start-learning-btn {
  background: linear-gradient(104.51deg, #b8ffb8 10.21%, #62ff00 89.52%);
}
.upload-btn-conatiner {
  display: inline-block;
  background: linear-gradient(90deg, #00ff00 0%, #ffffff 100%);
  border-radius: 40px;
  padding: 3px;
}

.Upload-notes-btn {
  display: inline-block;
  padding: 12px 36px;
  font-size: 1.1rem;
  font-weight: 600;
  color: #fff;
  background-color: transparent;
  border: 2px solid transparent;
  border-radius: 50px;
  background-image: linear-gradient(90deg, #00ff00, #ffffff);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  -webkit-background-clip: text, border-box;
  cursor: pointer;
  transition: all 0.3s ease;
}

.Upload-notes-btn {
  background: linear-gradient(#030507, #030507) padding-box;
  border-radius: 50px;
  backdrop-filter: blur(60px);
}
