@media screen and (min-width: 990px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 4.8rem;
    list-style-type: none;
    cursor: pointer;
  }

  .nav-link:hover,
  .nav-link:active {
    color: #62ff00;
  }

  .btn-mobile-nav {
    display: none;
  }
  .desktop-btns-container {
    display: flex;
    gap: 2rem;
  }
  /* .login-btn-container {
    border-radius: 40px;
    padding: 0.3rem;
  } */
  .login-btn {
    border: 0.4rem solid;
    border-image: linear-gradient(90deg, #b7feb6 0%, #61fe01 100%) 1;
    border-radius: 12px;
  }
  .signup-btn {
    background: linear-gradient(104.51deg, #b8ffb8 10.21%, #62ff00 89.52%);
  }
}
