@media screen and (min-width: 990px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 4.8rem;
    list-style-type: none;
    cursor: pointer;
  }

  .nav-link:hover,
  .nav-link:active {
    color: #62ff00;
  }

  .btn-mobile-nav {
    display: none;
  }
  .desktop-btns-container {
    display: flex;
    gap: 2rem;
  }

  .login-btn {
    border: 0.4rem solid;
    border-image: linear-gradient(90deg, #b7feb6 0%, #61fe01 100%) 1;
    border-radius: 12px;
  }
  .signup-btn {
    background: linear-gradient(104.51deg, #b8ffb8 10.21%, #62ff00 89.52%);
  }

  /* ******************* */
  /* HERO SECTION */
  /* ******************* */
  .hero {
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    max-height: 85rem;
  }
}
