@media screen and (min-width: 990px) {
  .nav-list {
    display: flex;
    align-items: center;
    gap: 4.8rem;
    list-style-type: none;
    cursor: pointer;
  }

  .nav-link:link,
  .nav-link:visited {
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 500;
    text-decoration: none;
    color: #333;
    transition: all 0.3s;
  }

  .nav-link:hover,
  .nav-link:active {
    color: #62ff00;
  }
}
