@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
html {
  font-size: 62.5%;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  line-height: 1;
  font-weight: 400;
  color: #555;
  overflow-x: hidden;
  background-color: #000;
}

/* ******************* */
/* HEADER */
/* ******************* */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #b7b7b74d;
  position: relative;
  height: 9.6rem;
  padding: 0 4.8rem;
  backdrop-filter: blur(30px);
  border-radius: 50px;
  max-width: 145rem;
  margin: 4rem auto;
}
/*  */

.logo {
  width: 100%;
  height: 9rem;
}

.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;
  color: #62ff00;
  font-size: 3rem;
}

.nav-list {
  display: flex;
  align-items: center;
  gap: 4.8rem;
  list-style-type: none;
  cursor: pointer;
  display: none;
}
.nav-link:link,
.nav-link:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  text-decoration: none;
  color: #fff;
  transition: all 0.3s;
}

.nav-link:hover,
.nav-link:active {
  color: #62ff00;
}
.nav-link.active {
  border-bottom: 0.4rem solid;
  border-image: linear-gradient(90deg, #b7feb6 0%, #61fe01 100%) 1;
  border-radius: 12px;
}

/* .icon-mobile-nav {
  font-size: 4.8rem;
  color: #333;
}

.icon-mobile-nav[name="close-outline"] {
  display: none;
} */
.desktop-btns-container {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  height: 8rem;
  box-shadow: 0 1.2rem 3.2rem rgba(194, 82, 82, 0.058);
}

.sticky .hero-section {
  margin-top: 9.6rem;
}
